/* it.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.it-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.it-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.it-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.it-table,.it-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.it-table-all{border:1px solid #ccc}
.it-bordered tr,.it-table-all tr{border-bottom:1px solid #ddd}.it-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.it-table-all tr:nth-child(odd){background-color:#fff}.it-table-all tr:nth-child(even){background-color:#f1f1f1}
.it-hoverable tbody tr:hover,.it-ul.it-hoverable li:hover{background-color:#ccc}.it-centered tr th,.it-centered tr td{text-align:center}
.it-table td,.it-table th,.it-table-all td,.it-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.it-table th:first-child,.it-table td:first-child,.it-table-all th:first-child,.it-table-all td:first-child{padding-left:16px}
.it-btn,.it-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.it-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.it-btn,.it-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.it-disabled,.it-btn:disabled,.it-button:disabled{cursor:not-allowed;opacity:0.3}.it-disabled *,:disabled *{pointer-events:none}
.it-btn.it-disabled:hover,.it-btn:disabled:hover{box-shadow:none}
.it-badge,.it-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.it-badge{border-radius:50%}
.it-ul{list-style-type:none;padding:0;margin:0}.it-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.it-ul li:last-child{border-bottom:none}
.it-tooltip,.it-display-container{position:relative}.it-tooltip .it-text{display:none}.it-tooltip:hover .it-text{display:inline-block}
.it-ripple:active{opacity:0.5}.it-ripple{transition:opacity 0s}
.it-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.it-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.it-dropdown-click,.it-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.it-dropdown-hover:hover .it-dropdown-content{display:block}
.it-dropdown-hover:first-child,.it-dropdown-click:hover{background-color:#ccc;color:#000}
.it-dropdown-hover:hover > .it-button:first-child,.it-dropdown-click:hover > .it-button:first-child{background-color:#ccc;color:#000}
.it-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.it-check,.it-radio{width:24px;height:24px;position:relative;top:6px}
.it-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.it-bar-block .it-dropdown-hover,.it-bar-block .it-dropdown-click{width:100%}
.it-bar-block .it-dropdown-hover .it-dropdown-content,.it-bar-block .it-dropdown-click .it-dropdown-content{min-width:100%}
.it-bar-block .it-dropdown-hover .it-button,.it-bar-block .it-dropdown-click .it-button{width:100%;text-align:left;padding:8px 16px}
.it-main,#main{transition:margin-left .4s}
.it-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.it-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.it-bar{width:100%;overflow:hidden}.it-center .it-bar{display:inline-block;width:auto}
.it-bar .it-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.it-bar .it-dropdown-hover,.it-bar .it-dropdown-click{position:static;float:left}
.it-bar .it-button{white-space:normal}
.it-bar-block .it-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.it-bar-block.it-center .it-bar-item{text-align:center}.it-block{display:block;width:100%}
.it-responsive{display:block;overflow-x:auto}
.it-container:after,.it-container:before,.it-panel:after,.it-panel:before,.it-row:after,.it-row:before,.it-row-padding:after,.it-row-padding:before,
.it-cell-row:before,.it-cell-row:after,.it-clear:after,.it-clear:before,.it-bar:before,.it-bar:after{content:"";display:table;clear:both}
.it-col,.it-half,.it-third,.it-twothird,.it-threequarter,.it-quarter{float:left;width:100%}
.it-col.s1{width:8.33333%}.it-col.s2{width:16.66666%}.it-col.s3{width:24.99999%}.it-col.s4{width:33.33333%}
.it-col.s5{width:41.66666%}.it-col.s6{width:49.99999%}.it-col.s7{width:58.33333%}.it-col.s8{width:66.66666%}
.it-col.s9{width:74.99999%}.it-col.s10{width:83.33333%}.it-col.s11{width:91.66666%}.it-col.s12{width:99.99999%}
@media (min-width:601px){.it-col.m1{width:8.33333%}.it-col.m2{width:16.66666%}.it-col.m3,.it-quarter{width:24.99999%}.it-col.m4,.it-third{width:33.33333%}
.it-col.m5{width:41.66666%}.it-col.m6,.it-half{width:49.99999%}.it-col.m7{width:58.33333%}.it-col.m8,.it-twothird{width:66.66666%}
.it-col.m9,.it-threequarter{width:74.99999%}.it-col.m10{width:83.33333%}.it-col.m11{width:91.66666%}.it-col.m12{width:99.99999%}}
@media (min-width:993px){.it-col.l1{width:8.33333%}.it-col.l2{width:16.66666%}.it-col.l3{width:24.99999%}.it-col.l4{width:33.33333%}
.it-col.l5{width:41.66666%}.it-col.l6{width:49.99999%}.it-col.l7{width:58.33333%}.it-col.l8{width:66.66666%}
.it-col.l9{width:74.99999%}.it-col.l10{width:83.33333%}.it-col.l11{width:91.66666%}.it-col.l12{width:99.99999%}}
.it-rest{overflow:hidden}.it-stretch{margin-left:-16px;margin-right:-16px}
.it-content,.it-auto{margin-left:auto;margin-right:auto}.it-content{max-width:980px}.it-auto{max-width:1140px}
.it-cell-row{display:table;width:100%}.it-cell{display:table-cell}
.it-cell-top{vertical-align:top}.it-cell-middle{vertical-align:middle}.it-cell-bottom{vertical-align:bottom}
.it-hide{display:none!important}.it-show-block,.it-show{display:block!important}.it-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.it-auto{max-width:95%}}
@media (max-width:600px){.it-modal-content{margin:0 10px;width:auto!important}.it-modal{padding-top:30px}
.it-dropdown-hover.it-mobile .it-dropdown-content,.it-dropdown-click.it-mobile .it-dropdown-content{position:relative}	
.it-hide-small{display:none!important}.it-mobile{display:block;width:100%!important}.it-bar-item.it-mobile,.it-dropdown-hover.it-mobile,.it-dropdown-click.it-mobile{text-align:center}
.it-dropdown-hover.it-mobile,.it-dropdown-hover.it-mobile .it-btn,.it-dropdown-hover.it-mobile .it-button,.it-dropdown-click.it-mobile,.it-dropdown-click.it-mobile .it-btn,.it-dropdown-click.it-mobile .it-button{width:100%}}
@media (max-width:768px){.it-modal-content{width:500px}.it-modal{padding-top:50px}}
@media (min-width:993px){.it-modal-content{width:900px}.it-hide-large{display:none!important}.it-sidebar.it-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.it-hide-medium{display:none!important}}
@media (max-width:992px){.it-sidebar.it-collapse{display:none}.it-main{margin-left:0!important;margin-right:0!important}.it-auto{max-width:100%}}
.it-top,.it-bottom{position:fixed;width:100%;z-index:1}.it-top{top:0}.it-bottom{bottom:0}
.it-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.it-display-topleft{position:absolute;left:0;top:0}.it-display-topright{position:absolute;right:0;top:0}
.it-display-bottomleft{position:absolute;left:0;bottom:0}.it-display-bottomright{position:absolute;right:0;bottom:0}
.it-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.it-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.it-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.it-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.it-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.it-display-container:hover .it-display-hover{display:block}.it-display-container:hover span.it-display-hover{display:inline-block}.it-display-hover{display:none}
.it-display-position{position:absolute}
.it-circle{border-radius:50%}
.it-round-small{border-radius:2px}.it-round,.it-round-medium{border-radius:4px}.it-round-large{border-radius:8px}.it-round-xlarge{border-radius:16px}.it-round-xxlarge{border-radius:32px}
.it-row-padding,.it-row-padding>.it-half,.it-row-padding>.it-third,.it-row-padding>.it-twothird,.it-row-padding>.it-threequarter,.it-row-padding>.it-quarter,.it-row-padding>.it-col{padding:0 8px}
.it-container,.it-panel{padding:0.01em 16px}.it-panel{margin-top:16px;margin-bottom:16px}
.it-code,.it-codespan{font-family:Consolas,"courier new";font-size:16px}
.it-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.it-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.it-card,.it-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.it-card-4,.it-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.it-spin{animation:it-spin 2s infinite linear}@keyframes it-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.it-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.it-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.it-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.it-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.it-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.it-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.it-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.it-animate-input{transition:width 0.4s ease-in-out}.it-animate-input:focus{width:100%!important}
.it-opacity,.it-hover-opacity:hover{opacity:0.60}.it-opacity-off,.it-hover-opacity-off:hover{opacity:1}
.it-opacity-max{opacity:0.25}.it-opacity-min{opacity:0.75}
.it-greyscale-max,.it-grayscale-max,.it-hover-greyscale:hover,.it-hover-grayscale:hover{filter:grayscale(100%)}
.it-greyscale,.it-grayscale{filter:grayscale(75%)}.it-greyscale-min,.it-grayscale-min{filter:grayscale(50%)}
.it-sepia{filter:sepia(75%)}.it-sepia-max,.it-hover-sepia:hover{filter:sepia(100%)}.it-sepia-min{filter:sepia(50%)}
.it-tiny{font-size:10px!important}.it-small{font-size:12px!important}.it-medium{font-size:15px!important}.it-large{font-size:18px!important}
.it-xlarge{font-size:24px!important}.it-xxlarge{font-size:36px!important}.it-xxxlarge{font-size:48px!important}.it-jumbo{font-size:64px!important}
.it-left-align{text-align:left!important}.it-right-align{text-align:right!important}.it-justify{text-align:justify!important}.it-center{text-align:center!important}
.it-border-0{border:0!important}.it-border{border:1px solid #ccc!important}
.it-border-top{border-top:1px solid #ccc!important}.it-border-bottom{border-bottom:1px solid #ccc!important}
.it-border-left{border-left:1px solid #ccc!important}.it-border-right{border-right:1px solid #ccc!important}
.it-topbar{border-top:6px solid #ccc!important}.it-bottombar{border-bottom:6px solid #ccc!important}
.it-leftbar{border-left:6px solid #ccc!important}.it-rightbar{border-right:6px solid #ccc!important}
.it-section,.it-code{margin-top:16px!important;margin-bottom:16px!important}
.it-margin{margin:16px!important}.it-margin-top{margin-top:16px!important}.it-margin-bottom{margin-bottom:16px!important}
.it-margin-left{margin-left:16px!important}.it-margin-right{margin-right:16px!important}
.it-padding-small{padding:4px 8px!important}.it-padding{padding:8px 16px!important}.it-padding-large{padding:12px 24px!important}
.it-padding-16{padding-top:16px!important;padding-bottom:16px!important}.it-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.it-padding-32{padding-top:32px!important;padding-bottom:32px!important}.it-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.it-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.it-left{float:left!important}.it-right{float:right!important}
.it-button:hover{color:#000!important;background-color:#ccc!important}
.it-transparent,.it-hover-none:hover{background-color:transparent!important}
.it-hover-none:hover{box-shadow:none!important}
/* Colors */
.it-amber,.it-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.it-aqua,.it-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.it-blue,.it-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.it-light-blue,.it-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.it-brown,.it-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.it-cyan,.it-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.it-blue-grey,.it-hover-blue-grey:hover,.it-blue-gray,.it-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.it-green,.it-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.it-light-green,.it-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.it-indigo,.it-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.it-khaki,.it-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.it-lime,.it-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.it-orange,.it-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.it-deep-orange,.it-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.it-pink,.it-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.it-purple,.it-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.it-deep-purple,.it-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.it-red,.it-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.it-sand,.it-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.it-teal,.it-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.it-yellow,.it-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.it-white,.it-hover-white:hover{color:#000!important;background-color:#fff!important}
.it-black,.it-hover-black:hover{color:#fff!important;background-color:#000!important}
.it-grey,.it-hover-grey:hover,.it-gray,.it-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.it-light-grey,.it-hover-light-grey:hover,.it-light-gray,.it-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.it-dark-grey,.it-hover-dark-grey:hover,.it-dark-gray,.it-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.it-pale-red,.it-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.it-pale-green,.it-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.it-pale-yellow,.it-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.it-pale-blue,.it-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.it-text-amber,.it-hover-text-amber:hover{color:#ffc107!important}
.it-text-aqua,.it-hover-text-aqua:hover{color:#00ffff!important}
.it-text-blue,.it-hover-text-blue:hover{color:#2196F3!important}
.it-text-light-blue,.it-hover-text-light-blue:hover{color:#87CEEB!important}
.it-text-brown,.it-hover-text-brown:hover{color:#795548!important}
.it-text-cyan,.it-hover-text-cyan:hover{color:#00bcd4!important}
.it-text-blue-grey,.it-hover-text-blue-grey:hover,.it-text-blue-gray,.it-hover-text-blue-gray:hover{color:#607d8b!important}
.it-text-green,.it-hover-text-green:hover{color:#4CAF50!important}
.it-text-light-green,.it-hover-text-light-green:hover{color:#8bc34a!important}
.it-text-indigo,.it-hover-text-indigo:hover{color:#3f51b5!important}
.it-text-khaki,.it-hover-text-khaki:hover{color:#b4aa50!important}
.it-text-lime,.it-hover-text-lime:hover{color:#cddc39!important}
.it-text-orange,.it-hover-text-orange:hover{color:#ff9800!important}
.it-text-deep-orange,.it-hover-text-deep-orange:hover{color:#ff5722!important}
.it-text-pink,.it-hover-text-pink:hover{color:#e91e63!important}
.it-text-purple,.it-hover-text-purple:hover{color:#9c27b0!important}
.it-text-deep-purple,.it-hover-text-deep-purple:hover{color:#673ab7!important}
.it-text-red,.it-hover-text-red:hover{color:#f44336!important}
.it-text-sand,.it-hover-text-sand:hover{color:#fdf5e6!important}
.it-text-teal,.it-hover-text-teal:hover{color:#009688!important}
.it-text-yellow,.it-hover-text-yellow:hover{color:#d2be0e!important}
.it-text-white,.it-hover-text-white:hover{color:#fff!important}
.it-text-black,.it-hover-text-black:hover{color:#000!important}
.it-text-grey,.it-hover-text-grey:hover,.it-text-gray,.it-hover-text-gray:hover{color:#757575!important}
.it-text-light-grey,.it-hover-text-light-grey:hover,.it-text-light-gray,.it-hover-text-light-gray:hover{color:#f1f1f1!important}
.it-text-dark-grey,.it-hover-text-dark-grey:hover,.it-text-dark-gray,.it-hover-text-dark-gray:hover{color:#3a3a3a!important}
.it-border-amber,.it-hover-border-amber:hover{border-color:#ffc107!important}
.it-border-aqua,.it-hover-border-aqua:hover{border-color:#00ffff!important}
.it-border-blue,.it-hover-border-blue:hover{border-color:#2196F3!important}
.it-border-light-blue,.it-hover-border-light-blue:hover{border-color:#87CEEB!important}
.it-border-brown,.it-hover-border-brown:hover{border-color:#795548!important}
.it-border-cyan,.it-hover-border-cyan:hover{border-color:#00bcd4!important}
.it-border-blue-grey,.it-hover-border-blue-grey:hover,.it-border-blue-gray,.it-hover-border-blue-gray:hover{border-color:#607d8b!important}
.it-border-green,.it-hover-border-green:hover{border-color:#4CAF50!important}
.it-border-light-green,.it-hover-border-light-green:hover{border-color:#8bc34a!important}
.it-border-indigo,.it-hover-border-indigo:hover{border-color:#3f51b5!important}
.it-border-khaki,.it-hover-border-khaki:hover{border-color:#f0e68c!important}
.it-border-lime,.it-hover-border-lime:hover{border-color:#cddc39!important}
.it-border-orange,.it-hover-border-orange:hover{border-color:#ff9800!important}
.it-border-deep-orange,.it-hover-border-deep-orange:hover{border-color:#ff5722!important}
.it-border-pink,.it-hover-border-pink:hover{border-color:#e91e63!important}
.it-border-purple,.it-hover-border-purple:hover{border-color:#9c27b0!important}
.it-border-deep-purple,.it-hover-border-deep-purple:hover{border-color:#673ab7!important}
.it-border-red,.it-hover-border-red:hover{border-color:#f44336!important}
.it-border-sand,.it-hover-border-sand:hover{border-color:#fdf5e6!important}
.it-border-teal,.it-hover-border-teal:hover{border-color:#009688!important}
.it-border-yellow,.it-hover-border-yellow:hover{border-color:#ffeb3b!important}
.it-border-white,.it-hover-border-white:hover{border-color:#fff!important}
.it-border-black,.it-hover-border-black:hover{border-color:#000!important}
.it-border-grey,.it-hover-border-grey:hover,.it-border-gray,.it-hover-border-gray:hover{border-color:#9e9e9e!important}
.it-border-light-grey,.it-hover-border-light-grey:hover,.it-border-light-gray,.it-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.it-border-dark-grey,.it-hover-border-dark-grey:hover,.it-border-dark-gray,.it-hover-border-dark-gray:hover{border-color:#616161!important}
.it-border-pale-red,.it-hover-border-pale-red:hover{border-color:#ffe7e7!important}.it-border-pale-green,.it-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.it-border-pale-yellow,.it-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.it-border-pale-blue,.it-hover-border-pale-blue:hover{border-color:#e7ffff!important}